body {
    background-color: #fc8ea6;
    background-image: linear-gradient(62deg, #ee7171 0%, #e0c3fc 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    margin: 10vh 0 0 0;
    font-family: sans-serif;
    font-size: 3rem;
    animation: rainbow 5s infinite ease-in;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  table {
    width: 80%;
    margin: 40px auto;
  
    background-color: #f7eed2;
  }
  
  table.list {
    text-align: center;
    width: 100%;
  }
  
  td {
    border: 1px solid rgb(204, 200, 200);
    text-align: left;
    padding: 8px 15px;
  }
  
  tr:nth-child(even),
  table.list thread > tr {
    background-color: #d0f1bf;
  }
  
  input[type="text"] {
    width: 91%;
    padding: 10px 10px;
    margin: 0px 0 10px 0;
    display: inline-block;
    border: none;
    border-radius: 6px;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  button:hover {
    background: #593c8f;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background: #474350;
    color: white;
    font-size: 1.2rem;
    font-family: cursive;
  }
  
  tbody {
    font-family: cursive;
  }
  
  .input-part {
    font-family: sans-serif;
    font-size: 1.3rem;
  }
  
  button {
    background: #1c2541;
    color: white;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
  }
  
  